$base-color: #FFF0DF;
$white: #F8FAFD;
$color: #B4AAA9;
$salmon: #F0C9B3;

body{
    background-color: $base-color;
    color:$color;
    wdautohl-customtag {
        color: #4b4f56 !important;
    }
}